apiVersion: v1
kind: Service
metadata:
  labels:
    app: mealie
  name: mealie
  namespace: mealie
spec:
  type: ClusterIP
  ports:
    - port: 80
      protocol: TCP
      targetPort: 9000
      name: http
  selector:
    app: mealie
